* {
    margin: 0;
    padding: 0;
}
header .navigation .nav li a {
    margin-right: 30px;
    color: #414141;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
header .navigation .user-btns .login {
    background-color: transparent;
    border: none;
}
header .navigation .user-btns .sign-up {
    background-color: transparent;
    border: 2px solid #94CA21;
    border-radius: 100px;
    padding: 6px 15px;
    margin-left: 10px;
}
.billboard {
    background-color: #F9F9F9;
    padding: 60px;
    width: 100%;
    position: relative;
}
.billboard .pattern-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.billboard .texts h1 {
    font-family: 'Kalam', cursive;
    
}
.billboard .texts h1 span {
    color: #94CA21;
}
.billboard p {
    font-family: 'Raleway', sans-serif;
}
.billboard .search-filter {
    background-color: #ffffff;
    padding: 70px;
    border-radius: 8px;
    margin-bottom: -203px;
    margin-top: 65px;
    position: relative;
}
.billboard .search-filter .search-btn {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.billboard .search-filter span {
    font-family: 'Raleway', sans-serif;
}
.billboard .search-filter .select-car, .location, .picking-date, .return-date {
    position: relative;
}
.billboard .search-filter select {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    appearance: none;
}
.billboard .search-filter input {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    outline: none;
    appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.billboard .search-filter svg {
    position: absolute;
    top: 39px;
    right: 20px;
    cursor: pointer;
}