* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
header .navigation .nav li a {
    margin-right: 30px;
    color: #414141;
    text-decoration: none;
}
header .navigation .user-btns .login {
    background-color: transparent;
    border: none;
}
header .navigation .user-btns .sign-up {
    background-color: transparent;
    border: 2px solid #94CA21;
    border-radius: 100px;
    padding: 6px 15px;
    margin-left: 10px;
}
.billboard {
    background-color: #F9F9F9;
    padding: 60px;
    width: 100%;
    position: relative;
}
.billboard .pattern-right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.billboard .texts h1 {
    font-family: 'Kalam', cursive;
    
}
.billboard .texts h1 span {
    color: #94CA21;
    font-family: 'kalam', cursive
}
.billboard .search-filter {
    background-color: #ffffff;
    padding: 70px;
    border-radius: 8px;
    margin-bottom: -270px;
    margin-top: 65px;
    position: relative;
}
.billboard .search-filter .search-btn {
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.billboard .search-filter .select-car, .location, .picking-date, .return-date {
    position: relative;
}
.billboard .search-filter select {
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    appearance: none;
}
.billboard .search-filter input {
    padding: 10px;
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    outline: none;
    appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.billboard .search-filter svg {
    position: absolute;
    top: 39px;
    right: 20px;
    cursor: pointer;
}
.rent-process {
    margin-top: 300px;
}
.rent-process .rent-process-title {
    font-family: 'Kalam', cursive;
    margin-bottom: 50px;
}
.rent-process .rent-process-title span {
    color: #94CA21;
    font-family: 'kalam', cursive;
}
.rent-process .process-line {
    height: 70%;
}
.rent-process .the-process {
    margin-top: 30px;
}
.rent-process .the-process span{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}
.rent-process .the-process p {
    font-size: 15px;
}
.cars {
    position: relative;
    margin-bottom: 120px;
}
.cars h1 {
    font-family: 'kalam', cursive;
    margin-top: 120px;
    margin-bottom: 50px;
}
.cars h1 span {
    font-family: 'kalam', cursive;
    color: #94CA21;
}
.cars .left-btn, .right-btn {
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #d5d5d5;
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.cars .left-btn {
    left: 45px;
    top: 215px;
}
.cars .right-btn {
    right: 45px;
    top: 215px;
}
.cars  .swiper .swiper-slide .card-body h2{
    font-weight: 600;
    font-size: 22px;
}
.cars  .swiper .swiper-slide .card-body ul {
    margin-bottom: 22px;
}
.cars  .swiper .swiper-slide .card-body .price-btn {
    margin-top: 30px;
}
.cars  .swiper .swiper-slide .card-body .price-btn h3{
    font-weight: 600;
    font-family: 'kalam', cursive;
}
.cars  .swiper .swiper-slide .card-body .price-btn span {
    font-size: 18px;
    font-weight: 400;
}
.cars  .swiper .swiper-slide .card-body .price-btn button {
    background-color: #222222;
    color: #ffffff;
    padding: 0px 17px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
    border: none;
}
.cars  .swiper .swiper-slide .card-body .price-btn button:hover {
    background-color: #94CA21;
}
.testimonials {
    background-color: #F9F9F9;
    position: relative;
    margin-bottom: 120px;
}
.testimonials img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 350px;
}
.testimonials .testimonials-swiper {
    padding: 90px;
}
.testimonials .quote-icon svg{
    color: #94CA21;
}
.testimonials p {
    text-align: center;
    color: #686868;
    font-size: 19px;
    letter-spacing: 1px;
}
.testimonials h4 {
    color: #414141;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}
.testimonials .testimonials-swiper .swiper-pagination-bullet-active {
    background-color: #94CA21;
}
.testimonials .testimonials-swiper .swiper-button-next, .swiper-button-prev {
    color: #94CA21;
}
.pricing-plan {
    background-color: #F9F9F9;
    margin-bottom: 120px;
}
.pricing-plan .pricing-content {
    padding: 80px;
}
.pricing-plan .pricing-content h1 {
    text-transform: uppercase;
    font-family: 'kalam', cursive;
}
.pricing-plan .pricing-content h1 span {
    font-family: 'kalam', cursive;
    color: #94CA21;
}
.pricing-plan .pricing-content input {
    margin: 0px 20px;
}
.pricing-plan .pricing-content .pricing-cards {
    margin-top: 50px;
}
.pricing-plan .pricing-content .pricing-cards .offer-card {
    padding: 50px 30px 300px 30px;
    border-radius: 20px;
    background-color: #EDF3E0;
    position: relative;
}
.pricing-plan .pricing-content .pricing-cards .offer-card h2 {
    font-family: 'kalam', cursive;
    color: #434343;
}
.pricing-plan .pricing-content .pricing-cards .offer-card img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.pricing-plan .pricing-content .pricing-cards .plan-card {
    padding: 50px 30px;
    border: 1px solid #d8d6d6;
    border-radius: 20px;
}
.pricing-plan .pricing-content .pricing-cards .plan-card .card-texts span {
    text-transform: uppercase;
    font-weight: 700;
}
.pricing-plan .pricing-content .pricing-cards .plan-card .card-texts h3 {
    font-family: 'kalam', cursive;
    margin-bottom: 30px;
}
.pricing-plan .pricing-content .pricing-cards .plan-card button {
    background-color: #222222;
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
    border: none;
    margin-top: 110px;
}
.pricing-plan .pricing-content .pricing-cards .plan-card button:hover {
    background-color: #94CA21;
}